html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
}
body{
  background-color: darkgreen;
  font-family: MetaWebPro-Bold,sans-serif;
}

header {
  border: 10px solid black;
  width: 400px;
  margin: 50px auto 0px auto;
  background-color: rgb(61,8,2); 
  background-image: url("Images/wood.png");
  color: white;
  border-radius: 10px;
}

.ball {
  width: 100px;
  /* min-width: 50px; */
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  box-shadow: inset 5px -5px 20px 1px rgba(0,0,0,.3); 

}

.ball img{
  width: 100%;
  height: 100%;
}


.red{
   background: rgb(186,2,2);
}



.green{
  background: rgb(15,60,3);
}

.yellow {
  background: rgb(252,191,15);
}

.brown {
  background: saddlebrown;
}

.blue {
  background: rgb(3,1,102);
}

.pink {
  background: rgb(203,67,87);
}

.black {
  background: black;
}

.balls{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.container{
  width: 400px;
  margin: 10px auto;
  background-color: darkgreen;
  padding-top: 20px;
  border:10px solid rgb(65,32,25);
  border-radius: 10px;
  padding:0;
  background-image: url("Images/greenbaize.jpg");
}



.score {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 0px auto;
  border: 10px solid black;
  border-radius: 10px;
  height: 70px;
  background-image: url("Images/wood.png");
  background-color: rgb(61,8,2);
  color: white;
  
}

.break-number {
  margin-top: 20px;
  margin-left: -50px;
  font-weight: bold;
  
}

.break-text {
  margin-top: 20px;
  margin-left: -25px;
}

#reset{
  margin-top: 22px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}
